Source: ros-melodic-pr2-arm-kinematics
Section: misc
Priority: extra
Maintainer: ROS Orphaned Package Maintainers <ros-orphaned-packages@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-angles, ros-melodic-catkin, ros-melodic-cmake-modules, ros-melodic-geometry-msgs, ros-melodic-kdl-parser, ros-melodic-moveit-core, ros-melodic-moveit-msgs, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-tf-conversions, ros-melodic-urdf
Homepage: http://ros.org/wiki/pr2_arm_kinematics
Standards-Version: 3.9.2

Package: ros-melodic-pr2-arm-kinematics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-angles, ros-melodic-geometry-msgs, ros-melodic-kdl-parser, ros-melodic-moveit-core, ros-melodic-moveit-msgs, ros-melodic-pluginlib, ros-melodic-roscpp, ros-melodic-tf-conversions, ros-melodic-urdf
Description: This package provides a kinematics implementation for the PR2 robot.
 It can be used to compute forward and inverse kinematics.
